body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
a{
    text-decoration:none !important;
}
.navbar-text li{
    margin: 0 10px;
}
.navbar-text a:hover {
    text-decoration: none;
}
    
.searchBar {
    display: inline-flex;
}
.searchBar div{
    padding: 0;
}
.btn-primary-click{
    margin: 20px 0;
    margin-bottom: 60px;
}
.btn-primary-click a{
    color: white !important;
}
#checkboxItem{
    margin: 0 40px;
    margin-top: 8px;
}
#AddQuestionBtn{
    margin-top: 40px;
    margin-bottom: -20px;
}
#search{
    margin-left: 10px;
}